
<nav class="navbar navbar-expand navbar-dark bg-dark px-3">

    <div class="side-nav-button p-2 m-2 text-light">
        <i class="fa-solid fa-bars"></i>
    </div>

    <a class="navbar-brand px-4">Header and sidenav</a>
    <div class="navbar-collapse d-flex">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" role="button"
                data-bs-toggle="dropdown">
                Cerrar sesión  <i class="fa-solid fa-right-from-bracket"></i>
                </a>
                <!-- <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                </ul> -->
            </li>
        </ul>
    </div>
</nav>
