
<div class="principal">

    <h1>Crear nuevo botadero</h1>
    <form [formGroup]="botaderoForm" (ngSubmit)="guardar()">
        <div class="mb-3">
            <label for="" class="form-label">Municipio o distrito del predio:<span class="required">*</span> </label>
            <input type="text" class="form-control" id="city" formControlName="city" required>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Nombre del predio:<span class="required">*</span></label>
            <input type="text" class="form-control" id="property_name" formControlName="property_name" required>
        </div>
        <div class="buttons">
            <button type="button" class="btn btn-success" (click)="openModal()">Guardar</button>

            <button type="button" class="btn btn-danger" routerLink="/admin/botadero">Cancelar</button>
        </div>
    </form>
</div>


<app-custom-modal *ngIf="showModal" (closeModalEvent)="closeModal()">
    <p class="msj">
        <i class="fas fa-exclamation-circle"></i> <!-- Icono de advertencia -->
        ¿Estás seguro de que deseas guardar los cambios?
    </p>
    <div class="buttons">
        <button type="button" class="btn btn-success" (click)="saveChanges()">Aceptar</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">Cancelar</button>
    </div>
</app-custom-modal>

