<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px">
            <div>
                <div class="container text-center">
                    <div class="title">
                        <h1>SUMINISTRAMOS Y CONTRATAMOS AGG S.A.S</h1>
                    </div>

                    <div class="button-container">
                        <button type="button" routerLink="/admin/bandeja-certificaciones">
                            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" height="1.5em"
                                width="13em">
                                <path
                                    d="M4 9a5 5 0 1110 0A5 5 0 014 9zm5-7a7 7 0 104.2 12.6.999.999 0 00.093.107l3 3a1 1 0 001.414-1.414l-3-3a.999.999 0 00-.107-.093A7 7 0 009 2z"
                                    fill-rule="evenodd" fill="#FFF"></path>
                            </svg>
                            Buscar Certificado
                        </button>

                        <button type="button" routerLink="/admin/certificado">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M13.5 3H12H8C6.34315 3 5 4.34315 5 6V18C5 19.6569 6.34315 21 8 21H11M13.5 3L19 8.625M13.5 3V7.625C13.5 8.17728 13.9477 8.625 14.5 8.625H19M19 8.625V11.8125"
                                    stroke="#fffffff" stroke-width="2"></path>
                                <path d="M17 15V18M17 21V18M17 18H14M17 18H20" stroke="#fffffff" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                            Generar Certificado
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>