/* styles.css */
.container{
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    font: bold;
    font-size: 28px;
}


.button-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Estilo para ambos botones */
.btn-warning,
.btn-success {
  width: 200px; /* Ajusta el ancho según tus necesidades */
  height: 50px; /* Ajusta el alto según tus necesidades */
  font-size: 16px; /* Ajusta el tamaño de la fuente según tus necesidades */
  margin-bottom: 10px; /* Espacio entre los botones */
  border-color: black;
}

/* Estilo para el botón Amarillo */
.btn-warning {
  background-color: yellow;
  color: black;
}

/* Estilo para el botón Verde */
.btn-success {
  background-color: green;
}

/* Estilo responsive */
@media (max-width: 768px) {
  .principal {
    padding: 20px; /* Añade un poco de espacio alrededor del contenedor principal en pantallas pequeñas */
  }
}

button {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica,"sans-serif";
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #f1e20c;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
  width: 230px;
  margin: 0 30px;
  text-align: center;
}

.btn-create {
  background: #65eb59;
}

button:hover {
  background: #01e7dc;
}

button > img {
  width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}

button:hover svg {
  transform: translateX(5px);
}

button:active {
  transform: scale(0.95);
}
