<!-- my-form.component.html -->
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">

    <div class="form-container">
        <h1 class="form-title">Reporte CVC</h1>
    
        <mat-form-field class="form-field">
            <mat-label>Fecha Inicio</mat-label>
            <input matInput [matDatepicker]="startDatePicker" formControlName="start_date">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field class="form-field">
            <mat-label>Fecha Fin</mat-label>
            <input matInput [matDatepicker]="endDatePicker" formControlName="end_date">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field class="form-field">
            <mat-label>Opciones</mat-label>
            <mat-select formControlName="id_botadero">
                <mat-option *ngFor="let opt of options" [value]="opt.id_botadero">{{opt.city}} - {{opt.property_name}} </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="button-container">
            <button mat-button color="primary">Exportar</button>
            <button mat-button color="warn" type="button" (click)="onCancel()">Cancelar</button>
        </div>
    </div>
</form>
