
.title{
    font-size:28px;
    margin-bottom: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-center {
    font-size: 17px;
    font-weight: 500;
}

.form-certificado{
    margin: 20px 0;
}

.form-datos-gestor {
    text-align: left;
}

.div-title {
    display: flex;
    margin-top: 25px;
}
.div-title img {
    width: 35px;
    height: 35px;
}
.div-title h3 {
    align-items: center;
    margin-left: 5px;
    font-weight: 400;
}

.residuos{
    height: 60px;
}

.total {
    margin-top: 30px;
}

.button-certificado {
    margin: 50px 0;
    text-align: center;
}

.btn-certificado {
    font-size: 25px;
    padding: 15px 30px;
    border-radius: 10px;
}

.buttons {
    display: grid;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
    justify-content: center;
    }

.consecutivo {
    color: rgb(255, 0, 0);
    font-weight: 600;
}