.text-center {
    font-size: 17px;
    font-weight: 500;
}

.form-certificado{
    margin: 20px 0;
}

.form-datos-gestor {
    text-align: left;
}

.div-title {
    display: flex;
    margin-top: 25px;
}
.div-title img {
    width: 35px;
    height: 35px;
}
.div-title h3 {
    align-items: center;
    margin-left: 5px;
    font-weight: 400;
}

.residuos{
    height: 60px;
}

.total {
    margin-top: 30px;
}

.button-certificado {
    margin: 50px 0;
    text-align: center;
}

.btn-certificado {
    font-size: 25px;
    padding: 15px 30px;
    border-radius: 10px;
}

.bascula{
 margin-top: 80px;
 border: 2px solid black;
 padding: 5% 10%;
}

.div-bascula {
    text-align: center;
    font-weight: 500;
}

.div-bascula > img{
    width: 40px;
}

.firma {
    margin-top: 100px;
}

.piepagina {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.img-bascula {
    border: 2px solid black;
}

.img-bascula > img {
    width: 100%;
}