.table-container {
  text-align: center;
  margin: auto;
  width: 80%;
}

h1 {
  margin-bottom: 40px;
  margin-top: 40px;
}


.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 8px;
  text-align: center;
}

.button-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para hacer la tabla responsive */
@media only screen and (max-width: 600px) {
  .table-container {
      width: 100%;
  }

  .button-container {
      position: relative;
      top: auto;
      right: auto;
      text-align: center;
      margin-bottom: 10px;
  }
}
/*--------------------------*/

/* The switch - the box around the slider */
#pencilEdit{
  color: black;
}

.toggle{
  margin-left: 50px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

