<div class="table-container">
    <h1>BOTADEROS</h1>
    
    <div>
        <table class="table table-bordered border-primary">
            <thead>
                <tr>
                    <th scope="col" class="th-botadero municipio">Municipio</th>
                    <th scope="col" class="th-botadero">Nombre del predio</th>
                    <th scope="col" class="th-botadero acciones">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of botaderos | paginate: { itemsPerPage: 5, currentPage: pagination }">
                    <td>{{item.city}}</td>
                    <td>{{item.property_name}}</td>
                    <td >
                        <a id="pencilEdit"  routerLink="/botaderoEdit/{{item.id_botadero}}"><i class="fa-solid fa-pen"  ></i></a>
                        
                        <mat-slide-toggle class="toggle"    
                        [(ngModel)]="item.status" (change)="editStatus(item.id_botadero, item.status)"></mat-slide-toggle>
                       
                    </td>
                </tr>
                
            </tbody>
        </table>
        <pagination-controls (pageChange)="pagination = $event" previousLabel="" nextLabel="" ></pagination-controls>
    </div>


    <div class="button-container">
        <button class="btn-create" type="button" routerLink="/admin/botaderoCreate">
            <span>Agregar</span>
            <img src="../../assets/add.png" alt="">
        </button>
    </div>
</div>