<div class="principal">

    <h1>Editar botadero</h1>
    <form [formGroup]="botaderoForm" (ngSubmit)="editar()">

        <div class="mb-3">
            <label for="" class="form-label">Municipio o distrito del predio: </label>
            <input type="text" class="form-control" id="city" [(ngModel)]="botaderos.city" formControlName="city">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Nombre del predio:</label>
            <input type="text" class="form-control" id="property_name" [(ngModel)]="botaderos.property_name"
                formControlName="property_name">
        </div>
        <div class="buttons">
            <button type="button" class="btn btn-success" (click)="openModal()">Guardar</button>
            <button type="button" routerLink="/admin/botadero" class="btn btn-danger">Cancelar</button>
        </div>

    </form>

</div>

<app-custom-modal *ngIf="showModal" (closeModalEvent)="closeModal()">
    <!-- Contenido del modal -->
    <p class="msj">
        <i class="fas fa-exclamation-circle"></i> <!-- Icono de advertencia -->
        ¿Estás seguro de que deseas guardar los cambios?
    </p>
    <div class="buttons">
        <button type="button" class="btn btn-success" (click)="saveChanges()">Aceptar</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">Cancelar</button>
    </div>
</app-custom-modal>

